---
import '../styles/global.css';
import  Header  from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const pageTitle = ' About Me';
const identity = {
	firstName: 'David',
	country: 'Canada',
	occupation: 'Web Developer',
	hobbies: ['Photography', 'Cooking', 'Soccer'], 
};
const skills = ['HTML', 'CSS', 'Javascript', 'Writing Stuff'];
const skillColor = "red";
const textCase = 'uppercase';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<style define:vars={{skillColor, textCase}}>
			h1 {
				color: blue;
				font-size: 4rem;
			}
			.skill {
				color: var(--skillColor);
				font-weight: bold;
				list-style: none;
				text-transform: var(--textCase);
			}
		</style>
	</head>
	<body>
        
		<Header />

		<h1>{pageTitle}</h1>
        <h2>Learning Astro</h2>
        <p>I'm going through Astro's tutorial for setting up a new blog</p>
        <p>Once it's done I hope to replace the site on davidh.cc with this one</p>
	<p>Some fun facts about me:</p>
	<ul>
		<li>My name is {identity.firstName}</li>
		<li>I live in {identity.country} and I work as a {identity.occupation}</li>
		{identity.hobbies.length >= 2 && 
		<li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
			}
	</ul>
	<p>My skills are</p>
	<ul>
		{skills.map((skill) => <li class="skill">{skill}</li>)}
	</ul>
	<Footer />
	</body>
</html>
